<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Visualizador de estructuras"
            id="Visualizador de estructuras">
      </category>
      <view
            name="Visualizador"
            icon="icons/icon_component.gif"
            category="Visualizador de estructuras"
            class="pluginvista.views.Vista"
            id="pluginvista.views.Vista">
      </view>
       <view
            name="Visualizador Arbol"
            icon="icons/icon_component.gif"
            category="Visualizador de estructuras"
            class="pluginvista.views.Vista_Arbol"
            id="pluginvista.views.Vista_Arbol">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.PackageExplorer">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="right"
               id="pluginvista.views.Vista">
         </view>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="Visualizar"
            id="Pluginboton.commands.category">
      </category>
      <command
            name="Visualizar"
            categoryId="Pluginboton.commands.category"
            id="Pluginboton.commands.Handler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="Pluginboton.commands.ComandoHandler"
            class="pluginboton.handlers.Handler">
      </handler>
   </extension>
     <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="Pluginboton.commands.HandlerClean"
            class="pluginboton.handlers.HandlerClean">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="AEDViewer"
               id="Pluginboton.commands.Visualizar">
            <command
                  commandId="Pluginboton.commands.ComandoHandler"
                  icon="icons/icon_component.gif"
                  id="Pluginboton.commands.comando"
                  
                  label="Visualizar">
            </command>
             <command
                  commandId="Pluginboton.commands.HandlerClean"
                  icon="icons/delete.gif"
                  id="Pluginboton.commands.comandoClean"
                  label="Limpiar">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Pluginboton.toolbars.sampleToolbar">
            <command
                  commandId="Pluginboton.commands.ComandoHandler"
           		  icon="icons/icon_component.gif"
                  tooltip="Visualizar"
                  id="Pluginboton.toolbars.comandoToolbar">
            </command>
         </toolbar>
      </menuContribution>
       <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Pluginboton.toolbars.sampleToolbar">
            <command
                  commandId="Pluginboton.commands.HandlerClean"
           		  icon="icons/delete.gif"
                  tooltip="Limpiar"
                  id="Pluginboton.commands.comandoCleanToolbar">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
</plugin>
